

.display-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  align-items: flex-start;

}

.display-flex-button{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  border: 4px solid rgb(118, 118, 118);
  margin: 20px 16px;
  padding: 16px;
}


@media only screen and (max-width : 553px) {
  .display-flex{
    flex-direction: column;
  }

  .display-flex-button{
    width: 95%;   
    margin: 0px 16px;
 
  }
}